footer {
  margin-top: 2em;
}

nav {
  background: #19a2ac;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  height: 100%;
  padding: 0;
}

li {
  list-style-type: none;
  height: 100%;
  flex-basis: 100%;
}

footer nav ul li a {
  font-size: 1.6em;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:hover {
    text-decoration: underline;
    background: #128991;
  }
}

.titles {

  background: #272727;
  padding: 1em 0;

  .links {
    display: flex;
    justify-content:space-around ;
    width: 60%;
    margin: 0 auto;
    div{
      background: #3e3e3e;
      padding: 1em 0;
      flex-basis: 40%;
      text-align: center;
    }
  }
}

.links a {
  font-size: 1.4em;
  color: #dedede;
  text-decoration: none;
  display: block;

  &:hover {
    text-decoration: underline;
  }
  &:before{
    content: '\00BB';
    margin-right: 1em;
    color: #8cc34c;
  }
}
footer p{
  font-size: 1.6em;
  padding: 0;
  text-align: center;
}
